<mat-card>
    <mat-card-title>Inicio de sesión</mat-card-title>
    <mat-card-content>
        <!--En cuanto a ngSubmit sera el evento que se ejecutara al momento de pulsar el botoon desinado como type =submit-->
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
                <mat-form-field>
                    <input type="text" formControlName="email" matInput placeholder="Email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
            </p>
            <div>
                <!--disabled solo si el formulario esta correcto estara el botton-->
                <button type="submit"  [disabled]="!loginForm.valid" mat-raised-button color="primary">Iniciar sesion</button>
            </div>
        </form>
    </mat-card-content>

</mat-card>
